/*
.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/

:root {
	--white: #fff;
	--black: #222;
	--gray: #eaeaea;
	--lt-gray: #f8f8f8;
	--red: #a64e5e; /*normal text AA*/
	--blue: #214da6; /*normal text AAA*/
	--baby-blue: #9abbd9; /*accent only*/
	--tan: #bf946f; /*tan*/
	--orange: #bf5d39; /*large text AA = 18.66px*/
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	color: var(--black);
	background-color: var(--lt-gray);
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 3rem;
	height: 3rem;
	fill: var(--black);
	stroke: var(--black);
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

a {
	display: inline-block;
	text-decoration-color: transparent;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	color: var(--blue);
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: var(--blue);
}

h1,
h2,
h3 {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25;
	margin: 0 0 1rem;
}

.button {
	padding: 0.75rem 1.5rem;
	border: 2px solid var(--red);
	background-color: transparent;
	color: var(--red);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all 300ms ease-in-out;
}

.button:focus,
.button:hover,
.button:active {
	background-color: var(--red);
	color: var(--white);
}

.access-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.wrap {
	/* width: 73.4375rem; */
	max-width: 75.4375rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.secondary_heading {
	font-size: clamp(2rem, 4vw, 3rem);
}

/* Header */
.header {
	display: block;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--white);
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 10%);
	transition: top 150ms linear;
}

.scrolled .header {
	top: -180px;
}

.top_banner {
	width: 100%;
	background-color: var(--lt-gray);
}

.top_nav {
	padding: 0.5rem 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.top_nav li {
	white-space: nowrap;
}

.top_nav li::after {
	content: "•";
	display: inline-block;
	padding-left: clamp(0.25rem, 1vw, 1rem);
	margin-right: clamp(0.25rem, 1vw, 1rem);
	color: var(--tan);
}

.top_nav li:last-of-type::after {
	content: "";
	padding-left: 0;
	margin-left: 0;
}

.top_nav a {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--black);
}

.top_nav a:focus,
.top_nav a:hover,
.top_nav a:active {
	text-decoration-color: var(--black);
}

.primary_heading {
	padding: 1rem 0;
	margin: 0;
}

.primary_heading svg {
	width: 300px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.header {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}

	.scrolled .header {
		top: -45px;
	}

	.top_nav {
		justify-content: center;
	}

	.primary_heading {
		margin: 0;
		padding: 0 0.5rem;
	}

	.primary_heading svg {
		width: 200px;
		margin: 0;
	}
}

@media (max-width: 400px) {
	.primary_heading svg {
		width: clamp(75px, 45vw, 200px);
	}
}

/* Navigation */
.menu_button {
	display: none;
}

.nav_container {
	padding: 1rem 0;
	border-top: 1px solid var(--gray);
}

.nav_container .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.main_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.main_nav li {
	white-space: nowrap;
}

.main_nav li::after {
	content: "•";
	display: inline-block;
	padding-left: clamp(0.25rem, 1vw, 1rem);
	margin-right: clamp(0.25rem, 1vw, 1rem);
	color: var(--tan);
}

.main_nav li:last-of-type::after {
	content: "";
}

.main_nav a {
	color: var(--red);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.main_nav a:focus,
.main_nav a:hover,
.main_nav a:active {
	text-decoration-color: var(--red);
}

@media (max-width: 1024px) {
	.menu_button {
		display: block;
		padding: 0.5rem;
		margin: 0.5rem 0.5rem 0.5rem auto;
		border-radius: 50%;
		border: 2px solid var(--blue);
		background-color: var(--blue);
		transition: background-color 300ms ease-in-out;
	}

	.menu_button svg {
		width: 2rem;
		height: 2rem;
		stroke: var(--white);
		transition: stroke 300ms ease-in-out;
	}

	.menu_button:focus,
	.menu_button:hover,
	.menu_button:active {
		background-color: transparent;
	}

	.menu_button:focus svg,
	.menu_button:hover svg,
	.menu_button:active svg {
		stroke: var(--blue);
	}

	.nav_container {
		padding: 0.5rem 0;
		border-top: none;
	}

	.nav_container .wrap {
		position: relative;
		padding: 0 0.5rem;
		flex-flow: row wrap;
	}

	.navigation {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: -300px;
		width: 300px;
		max-width: 100%;
		height: 100vh;
		transform: translateX(0);
		background-color: var(--white);
		box-shadow: none;
		z-index: 3;
		transition: visibility 300ms ease-in-out, transform 300ms ease-in-out;
	}

	.main_nav {
		flex-direction: column;
		border-top: 2px dotted var(--tan);
	}

	.main_nav li {
		width: 100%;
		text-align: center;
		border-bottom: 2px dotted var(--tan);
	}

	.main_nav a {
		padding: 1rem;
	}

	.main_nav li::after {
		content: "";
		padding-left: 0;
		margin-right: 0;
	}

	.menu_active .navigation {
		visibility: visible;
		transform: translate(300px);
		box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 10%);
	}

	.menu_active .open_button {
		visibility: hidden;
	}
}

/* Search Form */
.search_form {
	display: block;
	position: relative;
	width: 200px;
	transform: translateX(0);
}

.button_search {
	display: none;
}

input[type="search"] {
	width: 100%;
	padding: 1.1rem 3rem 1.1rem 0.25rem;
	border: none;
	border-bottom: 1px solid var(--red);
}

.submit {
	position: absolute;
	top: 50%;
	right: 0;
	padding: 0.75rem;
	transform: translateY(-50%);
	cursor: pointer;
}

.submit svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: var(--red);
}

@media (max-width: 1024px) {
	.button_search {
		display: block;
	}

	.open_search {
		display: block;
		padding: 0.5rem;
		margin: 0.5rem 0.5rem 0.5rem auto;
		border-radius: 50%;
		border: 2px solid var(--blue);
		background-color: var(--blue);
		transition: background-color 300ms ease-in-out;
	}

	.open_search svg {
		width: 2rem;
		height: 2rem;
		stroke: var(--white);
		transition: stroke 300ms ease-in-out;
	}

	.open_search:focus,
	.open_search:hover,
	.open_search:active {
		background-color: transparent;
	}

	.open_search:focus svg,
	.open_search:hover svg,
	.open_search:active svg {
		stroke: var(--blue);
	}

	.close_search {
		position: absolute;
		top: -0.5rem;
		left: -3rem;
		padding: 0.75rem;
	}

	.close_search svg {
		width: 1.5rem;
		height: 1.5rem;
		stroke: var(--blue);
		background-color: transparent;
		border-radius: 50%;
		border: 2px solid var(--blue);
		transition: stroke 300ms ease-in-out, background-color 300ms ease-in-out;
	}

	.close_search:focus svg,
	.close_search:hover svg,
	.close_search:active svg {
		stroke: var(--white);
		background-color: var(--blue);
	}

	.search_form {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		transition: all 150ms ease-in-out;
	}

	.search_active .search_form {
		visibility: visible;
		opacity: 1;
		pointer-events: all;
	}

	.search_active .open_search,
	.search_active .open_button {
		visibility: hidden;
	}
}

/* Hero */
.hero {
	padding: 4rem 0;
	margin: 2rem;
	background-color: var(--white);
}

.hero .wrap {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2rem;
}

.hero .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 50%;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 960px) {
	.hero {
		padding: 1rem 0;
		margin: 1rem;
	}

	.hero .wrap {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

/* Layout Grid */
.grid .wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.card .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1.5 / 1;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 960px) {
	.grid .wrap {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media (max-width: 500px) {
	.grid .wrap {
		grid-template-columns: 1fr;
	}
}

/* Slider */
.slider_wrap {
	position: relative;
	z-index: -1;
}

.slider {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
	aspect-ratio: 1.5 /1;
	z-index: 0;
}

.slide {
	position: absolute;
	inset: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	z-index: 1;
	transition: all 300ms ease-in-out;
}

.slide.active {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}

.slide .figure {
	width: 100%;
	height: 100%;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider_controls {
	position: absolute;
	inset: 0;
	margin: 0 0.5rem;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.arrow_button {
	padding: 0.75rem;
	border-radius: 50%;
	border: 2px solid var(--white);
	background-color: rgba(255, 255, 255, 100%);
	transition: background-color 300ms ease-in-out;
}

.arrow_button svg {
	width: 1.5rem;
	height: 1.5rem;
}

.arrow_button:focus,
.arrow_button:hover,
.arrow_button:active {
	background-color: rgba(255, 255, 255, 75%);
}
