/*
.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/

:root {
	--white: #fff;
	--black: #222;
	--gray: #eaeaea;
	--lt-gray: #f8f8f8;
	--red: #a64e5e; /*normal text AA*/
	--blue: #214da6; /*normal text AAA*/
	--baby-blue: #9abbd9; /*accent only*/
	--tan: #bf946f; /*tan*/
	--orange: #bf5d39; /*large text AA = 18.66px*/
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	color: var(--black);
	background-color: var(--lt-gray);
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 3rem;
	height: 3rem;
	fill: var(--black);
	stroke: var(--black);
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
}

a {
	display: inline-block;
	text-decoration-color: transparent;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	color: var(--blue);
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: var(--blue);
}

h1,
h2,
h3 {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25;
	margin: 0 0 1rem;
}

.button {
	padding: 0.75rem 1.5rem;
	border: 2px solid var(--red);
	background-color: transparent;
	color: var(--red);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all 300ms ease-in-out;
}

.button:focus,
.button:hover,
.button:active {
	background-color: var(--red);
	color: var(--white);
}

.access-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.wrap {
	width: 73.4375rem; /*1175px*/
	max-width: calc(100% - 2rem);
	margin: 0 auto;
}

.secondary_heading {
	font-size: 3rem;
}

/* Header */
.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--white);
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 10%);
}

.top_banner {
	background-color: var(--lt-gray);
}

.top_nav {
	padding: 0.5rem 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.top_nav li::after {
	content: "•";
	display: inline-block;
	padding-left: 1rem;
	margin-right: 1rem;
	color: var(--tan);
}

.top_nav li:last-of-type::after {
	content: "";
}

.top_nav a {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--black);
}

.top_nav a:focus,
.top_nav a:hover,
.top_nav a:active {
	text-decoration-color: var(--black);
}

.primary_heading svg {
	width: 300px;
	max-width: 100%;
	height: auto;
	margin: 2rem auto;
}

/* Navigation */
.menu_button {
	display: none;
}

.nav_container {
	padding: 1rem 0;
	border-top: 1px solid var(--gray);
}

.nav_container .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.main_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.main_nav li::after {
	content: "•";
	display: inline-block;
	padding-left: 1rem;
	margin-right: 1rem;
	color: var(--tan);
}

.main_nav li:last-of-type::after {
	content: "";
}

.main_nav a {
	color: var(--red);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.main_nav a:focus,
.main_nav a:hover,
.main_nav a:active {
	text-decoration-color: var(--red);
}

/* Search Form */
.search_form {
	position: relative;
	width: 200px;
	max-width: 100%;
}

input[type="search"] {
	width: 100%;
	padding: 0.95rem 0;
	border: none;
	border-bottom: 1px solid var(--red);
}

.submit {
	position: absolute;
	top: 50%;
	right: 0;
	padding: 0.75rem;
	transform: translateY(-50%);
	cursor: pointer;
}

.submit svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: var(--red);
}

/* Hero */
.hero {
	padding: 4rem 0;
	margin: 2rem;
	background-color: var(--white);
}

.hero .wrap {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2rem;
}

.hero .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 50%;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
