/*
.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/

:root {
	--white: #fff;
	--black: #222;
	--gray: #eaeaea;
	--lt-gray: #f8f8f8;
	--med-gray: #666; /*normal text AA*/
	--red: #a64e5e; /*normal text AA*/
	--blue: #214da6; /*normal text AAA*/
	--baby-blue: #9abbd9; /*accent only*/
	--tan: #bf946f; /*tan*/
	--orange: #bf5d39; /*large text AA = 18.66px*/
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	color: var(--black);
	background-color: var(--lt-gray);
}

figure {
	position: relative;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 3rem;
	height: 3rem;
	fill: var(--black);
	stroke: var(--black);
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

a {
	display: inline-block;
	text-decoration-color: transparent;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	color: var(--blue);
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: var(--blue);
}

h1,
h2,
h3 {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25;
	margin: 0 0 1rem;
}

p {
	margin: 0 0 1rem;
}

.figure::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 8px solid rgba(255, 255, 255, 66%);
	z-index: 0;
}

.circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid var(--gray);
	background-color: transparent;
	margin-inline: clamp(0.25rem, 1vw, 1rem);
}

.button_container {
	text-align: center;
	margin: 2rem 0;
}

.button {
	padding: 0.75rem 1.5rem;
	border: 2px solid var(--blue);
	background-color: transparent;
	color: var(--blue);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all 300ms ease-in-out;
}

.button:focus,
.button:hover,
.button:active {
	background-color: var(--blue);
	color: var(--white);
}

.button.lines {
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	color: var(--black);
	z-index: 0;
}

.button.lines::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--blue);
	z-index: -1;
	transition: all 300ms ease-in-out;
}

.button.lines:focus::after,
.button.lines:hover::after,
.button.lines:active::after {
	top: 5px;
	left: 5px;
}

.button.lines div {
	padding: 0.75rem 1.5rem;
	background-color: var(--white);
}

.button.lines div::before,
.button.lines div::after {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border: 2px solid var(--blue);
	border-radius: 50%;
	margin-inline: 0.25rem;
}

.button.lines span {
	display: inline-block;
	padding: 0 0.333rem;
	color: var(--blue);
}

.button.border {
	padding: 0.5rem;
	background: repeating-linear-gradient(-45deg, var(--white) 10px, var(--white) 11px, transparent 11px, transparent 15px);
	border: none;
}

.button.border div {
	padding: 0.75rem 1.5rem;
	white-space: nowrap;
	background-color: var(--white);
	transition: background-color 300ms ease-in-out;
}

.button.border:focus div,
.button.border:hover div,
.button.border:active div {
	background-color: var(--blue);
}

.access-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.wrap {
	/* width: 73.4375rem; */
	max-width: 75.4375rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.secondary_heading {
	font-size: clamp(2rem, 4vw, 3rem);
}

/* Header */
.header {
	display: block;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--white);
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 10%);
	transition: top 150ms linear;
	z-index: 1;
}

.scrolled .header {
	top: -180px;
}

.top_banner {
	width: 100%;
	background-color: var(--lt-gray);
}

.top_nav {
	padding: 0.5rem 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.top_nav li {
	white-space: nowrap;
}

.top_nav li::after {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid var(--gray);
	background-color: transparent;
	margin-inline: clamp(0.25rem, 1vw, 1rem);
}

.top_nav li:last-of-type::after {
	display: none;
}

.top_nav a {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--med-gray);
}

.top_nav a:focus,
.top_nav a:hover,
.top_nav a:active {
	text-decoration-color: var(--med-gray);
}

.primary_heading {
	padding: 1rem 0;
	margin: 0;
}

.primary_heading svg {
	width: 300px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.search_active .primary_heading {
	visibility: hidden;
}

@media (max-width: 1024px) {
	.header {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}

	.scrolled .header {
		top: -45px;
	}

	.top_nav {
		justify-content: center;
	}

	.primary_heading {
		margin: 0;
		padding: 0.5rem 1rem;
	}

	.primary_heading svg {
		width: 200px;
		margin: 0;
	}
}

@media (max-width: 400px) {
	.primary_heading svg {
		width: clamp(75px, 45vw, 200px);
	}
}

/* Navigation */
.menu_button {
	display: none;
}

.nav_container {
	padding: 1rem 0;
	border-top: 1px solid var(--gray);
}

.nav_container .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.main_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.main_nav li {
	white-space: nowrap;
}

.main_nav li::after {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid var(--gray);
	background-color: transparent;
	margin-inline: clamp(0.25rem, 1vw, 1rem);
}

.main_nav li:last-of-type::after {
	display: none;
}

.main_nav a {
	color: var(--med-gray);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.main_nav a:focus,
.main_nav a:hover,
.main_nav a:active {
	text-decoration-color: var(--med-gray);
}

@media (max-width: 1024px) {
	.menu_button {
		display: block;
		padding: 0.5rem;
		border-radius: 5px;
		background-color: transparent;
		transition: background-color 300ms ease-in-out;
	}

	.close_button {
		margin: 0.5rem 0.5rem 0.5rem auto;
	}

	.menu_button svg {
		width: 2rem;
		height: 2rem;
		stroke: var(--black);
		transition: stroke 300ms ease-in-out;
	}

	.menu_button:focus,
	.menu_button:hover,
	.menu_button:active {
		background-color: var(--blue);
	}

	.menu_button:focus svg,
	.menu_button:hover svg,
	.menu_button:active svg {
		stroke: var(--white);
	}

	.nav_container {
		padding: 0.5rem 0;
		border-top: none;
	}

	.nav_container .wrap {
		padding: 0 0.5rem;
		flex-flow: row wrap;
		gap: 0.25rem;
	}

	.navigation {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: -300px;
		width: 300px;
		max-width: 100%;
		height: 100vh;
		transform: translateX(0);
		background-color: var(--white);
		box-shadow: none;
		z-index: 3;
		transition: visibility 300ms ease-in-out, transform 300ms ease-in-out;
	}

	.main_nav {
		flex-direction: column;
		border-top: 2px dotted var(--tan);
	}

	.main_nav li {
		width: 100%;
		text-align: center;
		border-bottom: 2px dotted var(--tan);
	}

	.main_nav a {
		padding: 1rem;
	}

	.main_nav li::after {
		display: none;
	}

	.menu_active .navigation {
		visibility: visible;
		transform: translate(300px);
		box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 10%);
	}

	.menu_active .open_button {
		visibility: hidden;
	}
}

/* Search Form */
.search_form {
	display: block;
	position: relative;
	width: 200px;
	transform: translateX(0);
}

.button_search {
	display: none;
}

input[type="search"] {
	width: 100%;
	padding: 0.25rem 3rem 0.25rem 0.25rem;
	border: none;
	border-bottom: 1px solid var(--black);
	line-height: 2;
}

.submit {
	position: absolute;
	top: 50%;
	right: 0;
	padding: 0.75rem;
	transform: translateY(-50%);
	cursor: pointer;
}

.submit svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: var(--black);
}

@media (max-width: 1024px) {
	.button_search {
		display: block;
	}

	.open_search {
		display: block;
		padding: 0.5rem;
		border-radius: 5px;
		background-color: transparent;
		transition: background-color 300ms ease-in-out;
	}

	.open_search svg {
		width: 2rem;
		height: 2rem;
		stroke: var(--black);
		transition: stroke 300ms ease-in-out;
	}

	.open_search:focus,
	.open_search:hover,
	.open_search:active {
		background-color: var(--blue);
	}

	.open_search:focus svg,
	.open_search:hover svg,
	.open_search:active svg {
		stroke: var(--white);
	}

	.close_search {
		position: absolute;
		top: 50%;
		left: -3rem;
		transform: translateY(-50%);
		padding: 0.5rem;
	}

	.close_search svg {
		width: 2rem;
		height: 2rem;
		stroke: var(--black);
		/* background-color: transparent; */
		border-radius: 5px;
		/* border: 2px solid var(--blue); */
		transition: stroke 300ms ease-in-out, background-color 300ms ease-in-out;
	}

	.close_search:focus svg,
	.close_search:hover svg,
	.close_search:active svg {
		stroke: var(--white);
		background-color: var(--blue);
	}

	.search_form {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		/* absolutely positioned to the .header which is position: sticky */
		position: absolute;
		bottom: 0.5rem;
		right: 1rem;
		width: calc(100% - 4rem);
		transition: all 150ms ease-in-out;
	}

	.search_active .search_form {
		visibility: visible;
		opacity: 1;
		pointer-events: all;
	}

	.menu_active .open_search,
	.search_active .open_search,
	.search_active .open_button {
		visibility: hidden;
	}
}

/* Hero */
.hero {
	padding: 4rem 0;
	margin: 2rem;
	background-color: var(--white);
}

.hero .wrap {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2rem;
}

.hero .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 50%;
}

.hero .figure::before {
	border-radius: 50%;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 960px) {
	.hero {
		padding: 1rem 0;
		margin: 1rem;
	}

	.hero .wrap {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.hero .figure {
		max-width: 300px;
		margin: 0 auto;
	}
}

/* Layout Grid */
.grid {
	margin: 0 0 5rem;
}

.grid .wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.card {
	background-color: var(--white);
	padding: 0 0 1rem;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 10%);
}

.card .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1.5 / 1;
	z-index: 0;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 960px) {
	.grid {
		margin: 0 0 2rem;
	}

	.grid .wrap {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media (max-width: 500px) {
	.grid .wrap {
		grid-template-columns: 1fr;
	}
}

/* Slider */
.slider_wrap {
	position: relative;
	z-index: 0;
}

.slider {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
	aspect-ratio: 1.5 /1;
	z-index: 0;
}

.slide {
	position: absolute;
	inset: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	z-index: 1;
	transition: all 300ms ease-in-out;
}

.slide.active {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}

.slide .figure {
	width: 100%;
	height: 100%;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider_controls {
	position: absolute;
	inset: 0;
	margin: 0 1rem;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.arrow_button {
	padding: 0.75rem;
	border-radius: 50%;
	border: 2px solid var(--white);
	background-color: rgba(255, 255, 255, 100%);
	transition: background-color 300ms ease-in-out;
}

.arrow_button svg {
	width: 1.5rem;
	height: 1.5rem;
}

.arrow_button:focus,
.arrow_button:hover,
.arrow_button:active {
	background-color: rgba(255, 255, 255, 75%);
}

/* Media */
.media svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.75rem;
	border: 2px solid var(--white);
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 100%);
	z-index: 1;
	transition: background-color 300ms ease-in-out;
}

.media svg:focus,
.media svg:hover,
.media svg:active {
	background-color: rgba(255, 255, 255, 75%);
}

/* Card Content */
.card_content {
	text-align: center;
	margin: 1rem 0 0;
}

.type {
	display: inline-block;
	padding: 0 1rem;
	background-color: var(--white);
}

.category {
	position: relative;
	margin: 0 0 0.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--blue);
	z-index: 0;
}

.category::before,
.category::after {
	content: "";
	display: block;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 200px;
	height: 0;
	transform: translateX(-50%);
	border-bottom: 1px solid var(--blue);
	z-index: -1;
}

.category::after {
	top: 60%;
	width: 175px;
}

.time_comments {
	font-size: 0.75rem;
	color: var(--med-gray);
}

/* Footer Items */
.footer {
	padding: 4rem 0;
	background-color: var(--white);
}

.items .wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.item .tertiary_heading {
	position: relative;
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	padding: 2rem 0;
	border-bottom: 1px solid var(--med-gray);
	z-index: 0;
}

.item .tertiary_heading::before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid var(--blue);
	background-color: var(--white);
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.item .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	margin: 0 0 1rem;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Latest X Posts */
.item .post {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	/* padding: 0 0 1rem; */
	margin: 0 0 1rem;
	border-bottom: 2px dashed var(--gray);
}

.item .post:last-of-type {
	border-bottom: none;
}

.post .icon {
	padding: calc(0.5rem - 1.5px);
	width: 2rem;
	height: 2rem;
	border: 1.5px solid var(--blue);
	border-radius: 50%;
}

.post svg {
	width: 1rem;
	height: 1rem;
	fill: var(--tan);
}

.post_item a {
	font-style: italic;
	font-weight: 600;
}

.post_item time {
	font-size: 0.9rem;
	color: var(--med-gray);
}

/* Recent Comments */
.item .comment {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	margin: 0 0 1rem;
	border-bottom: 2px dashed var(--gray);
}

.item .comment:last-of-type {
	border-bottom: none;
}

.comment .figure {
	width: 75%;
	height: auto;
	aspect-ratio: 1;
	border-radius: 50%;
	overflow: hidden;
}

.comment .figure::before {
	border-radius: 50%;
	border-width: 5px;
}

.comment .user {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}

.comment_text {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
}

.comment_text svg {
	width: 2rem;
	height: 2rem;
	fill: var(--blue);
}

.text_date time {
	font-size: 0.9rem;
	color: var(--med-gray);
}

@media (max-width: 1024px) {
	.comment .figure {
		max-width: 150px;
	}
}

@media (max-width: 450px) {
	.item .comment {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0;
		gap: 1rem;
	}

	.comment .user {
		text-align: center;
	}
}

/* Social Navigation */
.social {
	padding: 1rem 0;
	background-color: var(--blue);
}

.social_nav {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
}

.social_nav li {
	text-align: center;
	border-right: 1px solid var(--white);
}

.social_nav li:last-of-type {
	border-right: none;
}

.social_nav a {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--white);
}

.social_icon {
	display: inline-block;
	vertical-align: middle;
	width: 3rem;
	height: 3rem;
	padding: calc(0.75rem - 2px);
	margin-right: 1rem;
	border-radius: 50%;
	border: 2px solid var(--white);
	background-color: var(--white);
	transition: background-color 300ms ease-in-out;
}

.social_icon svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--blue);
	transition: fill 300ms ease-in-out;
}

.social_nav a:focus .social_icon,
.social_nav a:hover .social_icon,
.social_nav a:active .social_icon {
	background-color: var(--blue);
}

.social_nav a:focus .social_icon svg,
.social_nav a:hover .social_icon svg,
.social_nav a:active .social_icon svg {
	fill: var(--white);
}

@media (max-width: 1024px) {
	.social_nav {
		grid-template-columns: 1fr;
	}

	.social_nav li {
		text-align: left;
		padding: 0 0 0.5rem;
		margin: 0 0 0.5rem;
		border-right: none;
		border-bottom: 1px dashed var(--baby-blue);
	}

	.social_nav li:last-of-type {
		padding: 0;
		margin: 0;
		border-bottom: none;
	}

	.social_nav a {
		display: block;
		width: 200px;
		max-width: 100%;
		margin: 0 auto;
	}
}

/* Instagram */
.instagram {
	position: relative;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	z-index: 0;
}

.instagram .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
}

.instagram .figure::before {
	display: none;
}

.instagram img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.follow_me {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

@media (max-width: 1024px) {
	.instagram {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Bottom Footer */
.copyright_statement {
	position: relative;
	padding: 4rem 0 0;
	text-align: center;
	z-index: 0;
}

.back_top {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: var(--white);
	font-size: 2rem;
	text-align: center;
	text-decoration: none;
	z-index: 1;
	transition: all 300ms ease-in-out;
}

.back_top:focus,
.back_top:hover,
.back_top:active {
	background-color: var(--blue);
	color: var(--white);
}

.top_icon {
	width: 3rem;
	height: 3rem;
	line-height: 1.25;
	transform: rotate(-90deg);
}

@media (max-width: 1024px) {
	.footer {
		padding: 1rem 0;
	}

	.copyright_statement {
		padding: 2rem 0 0;
	}

	.items .wrap {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.items .figure {
		max-width: 150px;
		margin: 1rem auto;
	}
}
